version: '3.9'

services:
  # myapp:
  #   image: 3henrikl/local-app
  #   container_name: local-app
  #   ports:
  #     - "8004:8004"
  #   stdin_open: true    # equivalent to -i (interactive)
  #   tty: true           # equivalent to -t (pseudo-TTY)

  # watchtower:
  #   image: containrrr/watchtower
  #   restart: unless-stopped
  #   privileged: true
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - /home/h/.docker/config.json:/config.json
  #   command: --interval 3600 --label-enable --cleanup --stop-timeout 30s

  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    network_mode: host
    volumes:
      - ./config/homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped

  samba:
    image: servercontainers/samba
    container_name: samba
    network_mode: bridge
    ports:
      - "139:139"
      - "445:445"
    privileged: true
    volumes:
      - /var/run/dbus:/var/run/dbus # Required for BlueZ communication
      - /media/pi/:/shares/data
    environment:
      ACCOUNT_smbuser: ${SAMBA_PASSWORD}
      UID_smbuser: 1000
      SAMBA_VOLUME_CONFIG_shared: >
        [shared];
        path = /shares/data;
        writeable = yes;
        force user = smbuser;
        valid users = smbuser; 
        guest ok = no;
        browseable = yes;
        read only = no;
        fruit:time machine = yes

        [timemachine];
        path = /shares/data/tb-hdd;
        writeable = yes;
        force user = smbuser;
        valid users = smbuser;
        guest ok = no;
        browseable = yes;
        read only = no;
        fruit:time machine = yes
    restart: unless-stopped