[Unit]
Description=Local Python app
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=HOME=/home/pi
User=pi

# Directories
EnvironmentFile=${HOME}/.dotfiles/scripts/secret/local-app.env
WorkingDirectory=${HOME}/Developer/local-app

# Output
StandardOutput=journal
StandardError=journal

# Pull latest code before starting
ExecStartPre=/usr/bin/git -C ${HOME}/Developer/local-app pull --ff-only

# Run using the venv's python directly (no activate needed)
ExecStart=${HOME}/Developer/local-app/.venv/bin/python -u src

Restart=on-failure
RestartSec=600

# Clean environment
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
