[Unit]
Description=Local Python app
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
EnvironmentFile=%h/.dotfiles/.zshrc/secret/local-app.env
WorkingDirectory=%h/Developer/local-app

# Pull latest code before starting
ExecStartPre=/usr/bin/git -C %h/Developer/local-app pull --ff-only

# Run using the venv's python directly (no activate needed)
ExecStart=%h/Developer/local-app/.venv/bin/python src

Restart=on-failure
RestartSec=36000

# Clean environment
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
